<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="fe2958ed769b4eef94aae093426ba9e8" class="chart-container" style="width:100vw; height:100vh; "></div>
    <script>
        var chart_fe2958ed769b4eef94aae093426ba9e8 = echarts.init(
            document.getElementById('fe2958ed769b4eef94aae093426ba9e8'), 'light', {renderer: 'canvas'});
        var option_fe2958ed769b4eef94aae093426ba9e8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "series": [
        {
            "type": "bar",
            "name": "Debt/GDP",
            "legendHoverLink": true,
            "data": [
                263.9,
                241.0,
                186.2,
                172.6,
                167.8,
                163.8,
                150.6,
                141.7,
                129.0,
                127.2,
                124.8,
                119.5,
                119.0,
                116.6,
                113.8,
                112.4,
                111.8,
                111.6,
                107.0,
                104.3,
                101.0,
                99.57,
                98.8,
                97.1,
                92.6,
                91.1,
                90.9,
                89.4,
                89.26,
                89.0,
                88.8,
                88.6,
                88.0,
                87.2,
                86.2,
                86.0,
                85.6,
                85.0,
                83.3,
                83.0,
                82.6,
                82.36,
                80.8,
                79.4,
                78.4,
                78.4,
                78.03,
                77.1,
                75.0,
                73.9
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Debt/GDP"
            ],
            "selected": {},
            "show": true,
            "right": "10%",
            "bottom": "5%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": -45,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Japan                                             ",
                "Venezuela                                         ",
                "Sudan                                             ",
                "Greece                                            ",
                "Singapore                                         ",
                "Eritrea                                           ",
                "Lebanon                                           ",
                "Italy                                             ",
                "United States                                     ",
                "Cape Verde                                        ",
                "Bhutan                                            ",
                "Bahrain                                           ",
                "Cuba                                              ",
                "Suriname                                          ",
                "Sri Lanka                                         ",
                "Portugal                                          ",
                "France                                            ",
                "Spain                                             ",
                "Canada                                            ",
                "Belgium                                           ",
                "Mozambique                                        ",
                "Republic of the Congo                             ",
                "Sierra Leone                                      ",
                "United Kingdom                                    ",
                "Zimbabwe                                          ",
                "Fiji                                              ",
                "Euro Area                                         ",
                "Jordan                                            ",
                "India                                             ",
                "Pakistan                                          ",
                "Ghana                                             ",
                "Bahamas                                           ",
                "Sao Tome and Principe                             ",
                "Egypt                                             ",
                "Jamaica                                           ",
                "Mauritius                                         ",
                "Cyprus                                            ",
                "Argentina                                         ",
                "Trinidad and Tobago                               ",
                "Libya                                             ",
                "Bolivia                                           ",
                "Costa Rica                                        ",
                "Gambia                                            ",
                "Tunisia                                           ",
                "Ukraine                                           ",
                "Austria                                           ",
                "El Salvador                                       ",
                "China                                             ",
                "Senegal                                           ",
                "Hungary                                           "
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "margin": 8,
                "formatter": "{value}"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "Debt/GDP",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            }
        }
    },
    "visualMap": {
        "show": false,
        "type": "continuous",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    },
    "dataZoom": {
        "show": true,
        "type": "slider",
        "showDetail": true,
        "showDataShadow": true,
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_fe2958ed769b4eef94aae093426ba9e8.setOption(option_fe2958ed769b4eef94aae093426ba9e8);
    </script>
</body>
</html>
