<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="58a6c69edc0d4ac887cbf1fcbcb74ffa" class="chart-container" style="width:100vw; height:100vh; "></div>
    <script>
        var chart_58a6c69edc0d4ac887cbf1fcbcb74ffa = echarts.init(
            document.getElementById('58a6c69edc0d4ac887cbf1fcbcb74ffa'), 'light', {renderer: 'canvas'});
        var option_58a6c69edc0d4ac887cbf1fcbcb74ffa = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "series": [
        {
            "type": "bar",
            "name": "gdp",
            "legendHoverLink": true,
            "data": [
                25440.00,
                17963.00,
                14136.00,
                4232.00,
                4082.00,
                3417.00,
                3089.00,
                2779.00,
                2240.00,
                2138.00,
                2050.00,
                1920.00,
                1693.00,
                1674.00,
                1466.00,
                1418.00,
                1319.00,
                1109.00,
                1009.00,
                907.00,
                818.00,
                775.00,
                688.00,
                633.00,
                631.00,
                591.00,
                583.00,
                579.00,
                533.00,
                525.00,
                507.00,
                495.00,
                477.00,
                473.00,
                471.00,
                467.00,
                460.00,
                413.00,
                409.00,
                407.00,
                405.00,
                404.00,
                400.00,
                375.00,
                360.00,
                344.00,
                301.00,
                301.00,
                291.00,
                283.00,
                264.00,
                255.00,
                248.00,
                243.00,
                236.00,
                226.00,
                218.00,
                195.00,
                177.00,
                175.00,
                161.00,
                131.00,
                127.00,
                115.00,
                115.00,
                115.00,
                114.00,
                113.00,
                113.00,
                112.00,
                107.00,
                95.00,
                90.00,
                82.00,
                80.00,
                79.00,
                77.00,
                76.00,
                74.00,
                74.00,
                73.00,
                72.00,
                71.00,
                71.00,
                70.00,
                69.00,
                65.00,
                64.00,
                62.00,
                60.00,
                57.00,
                52.00,
                49.00,
                46.00,
                46.00,
                46.00,
                44.00,
                44.00,
                44.00,
                42.00,
                41.00,
                41.00,
                38.00,
                32.00,
                32.00,
                32.00,
                30.00,
                30.00,
                29.00,
                29.00,
                28.00,
                28.00,
                27.00,
                25.00,
                24.00,
                24.00,
                24.00,
                23.00,
                21.00,
                21.00,
                20.00,
                20.00,
                20.00,
                19.00,
                19.00,
                19.00,
                19.00,
                18.00,
                18.00,
                17.00,
                17.00,
                17.00,
                17.00,
                16.00,
                16.00,
                15.00,
                15.00,
                15.00,
                15.00,
                15.00,
                14.00,
                14.00,
                13.00,
                13.00,
                13.00,
                13.00,
                13.00,
                13.00,
                12.00,
                12.00,
                10.00,
                10.00,
                10.00,
                10.00,
                9.00,
                9.00,
                9.00,
                8.00,
                8.00,
                7.00,
                6.00,
                6.00,
                5.00,
                5.00,
                4.00,
                4.00,
                4.00,
                4.00,
                3.00,
                3.00,
                3.00,
                2.00,
                2.00,
                2.00,
                2.00,
                2.00,
                2.00,
                2.00,
                1.00,
                1.00,
                1.00
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "gdp"
            ],
            "selected": {},
            "show": true,
            "right": "10%",
            "bottom": "5%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": -45,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "United States                                     ",
                "China                                             ",
                "Euro Area                                         ",
                "Japan                                             ",
                "Germany                                           ",
                "India                                             ",
                "United Kingdom                                    ",
                "France                                            ",
                "Russia                                            ",
                "Canada                                            ",
                "Italy                                             ",
                "Brazil                                            ",
                "Australia                                         ",
                "South Korea                                       ",
                "Mexico                                            ",
                "Spain                                             ",
                "Indonesia                                         ",
                "Saudi Arabia                                      ",
                "Netherlands                                       ",
                "Turkey                                            ",
                "Switzerland                                       ",
                "Taiwan                                            ",
                "Poland                                            ",
                "Cuba                                              ",
                "Argentina                                         ",
                "Sweden                                            ",
                "Belgium                                           ",
                "Norway                                            ",
                "Ireland                                           ",
                "Israel                                            ",
                "United Arab Emirates                              ",
                "Thailand                                          ",
                "Egypt                                             ",
                "Nigeria                                           ",
                "Austria                                           ",
                "Singapore                                         ",
                "Bangladesh                                        ",
                "Iran                                              ",
                "Vietnam                                           ",
                "Malaysia                                          ",
                "South Africa                                      ",
                "Philippines                                       ",
                "Denmark                                           ",
                "Pakistan                                          ",
                "Hong Kong                                         ",
                "Colombia                                          ",
                "Chile                                             ",
                "Romania                                           ",
                "Czech Republic                                    ",
                "Finland                                           ",
                "Iraq                                              ",
                "Portugal                                          ",
                "New Zealand                                       ",
                "Peru                                              ",
                "Qatar                                             ",
                "Kazakhstan                                        ",
                "Greece                                            ",
                "Algeria                                           ",
                "Hungary                                           ",
                "Kuwait                                            ",
                "Ukraine                                           ",
                "Morocco                                           ",
                "Ethiopia                                          ",
                "Ecuador                                           ",
                "Oman                                              ",
                "Slovakia                                          ",
                "Dominican Republic                                ",
                "Puerto Rico                                       ",
                "Kenya                                             ",
                "Venezuela                                         ",
                "Angola                                            ",
                "Guatemala                                         ",
                "Bulgaria                                          ",
                "Luxembourg                                        ",
                "Uzbekistan                                        ",
                "Azerbaijan                                        ",
                "Panama                                            ",
                "Tanzania                                          ",
                "Sri Lanka                                         ",
                "Ghana                                             ",
                "Belarus                                           ",
                "Croatia                                           ",
                "Lithuania                                         ",
                "Uruguay                                           ",
                "Ivory Coast                                       ",
                "Costa Rica                                        ",
                "Congo                                             ",
                "Serbia                                            ",
                "Myanmar                                           ",
                "Slovenia                                          ",
                "Turkmenistan                                      ",
                "Sudan                                             ",
                "Jordan                                            ",
                "Libya                                             ",
                "Uganda                                            ",
                "Tunisia                                           ",
                "Cameroon                                          ",
                "Bahrain                                           ",
                "Bolivia                                           ",
                "Paraguay                                          ",
                "Nepal                                             ",
                "Latvia                                            ",
                "Estonia                                           ",
                "El Salvador                                       ",
                "Honduras                                          ",
                "Papua New Guinea                                  ",
                "Cambodia                                          ",
                "Trinidad and Tobago                               ",
                "Zambia                                            ",
                "Cyprus                                            ",
                "Iceland                                           ",
                "Senegal                                           ",
                "Zimbabwe                                          ",
                "Georgia                                           ",
                "Bosnia and Herzegovina                            ",
                "Macau                                             ",
                "Yemen                                             ",
                "Lebanon                                           ",
                "Gabon                                             ",
                "Guinea                                            ",
                "Haiti                                             ",
                "Botswana                                          ",
                "Armenia                                           ",
                "Albania                                           ",
                "Burkina Faso                                      ",
                "Mali                                              ",
                "Palestine                                         ",
                "Mozambique                                        ",
                "Malta                                             ",
                "Jamaica                                           ",
                "Mongolia                                          ",
                "Brunei                                            ",
                "Benin                                             ",
                "Nicaragua                                         ",
                "Republic of the Congo                             ",
                "Niger                                             ",
                "Laos                                              ",
                "Moldova                                           ",
                "Madagascar                                        ",
                "Guyana                                            ",
                "Afghanistan                                       ",
                "Macedonia                                         ",
                "Malawi                                            ",
                "Mauritius                                         ",
                "Namibia                                           ",
                "Rwanda                                            ",
                "Bahamas                                           ",
                "Chad                                              ",
                "Equatorial Guinea                                 ",
                "Kyrgyzstan                                        ",
                "Mauritania                                        ",
                "New Caledonia                                     ",
                "Tajikistan                                        ",
                "Somalia                                           ",
                "Syria                                             ",
                "Monaco                                            ",
                "Kosovo                                            ",
                "Liechtenstein                                     ",
                "Togo                                              ",
                "Cayman Islands                                    ",
                "Maldives                                          ",
                "Montenegro                                        ",
                "Fiji                                              ",
                "Swaziland                                         ",
                "Suriname                                          ",
                "Sierra Leone                                      ",
                "Djibouti                                          ",
                "Liberia                                           ",
                "East Timor                                        ",
                "Burundi                                           ",
                "Bhutan                                            ",
                "Cape Verde                                        ",
                "Central African Republic                          ",
                "Eritrea                                           ",
                "Gambia                                            ",
                "Guinea Bissau                                     ",
                "Lesotho                                           ",
                "Seychelles                                        ",
                "Sao Tome and Principe                             ",
                "Comoros                                           ",
                "South Sudan                                       "
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "margin": 8,
                "formatter": "{value}"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "gdp",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            }
        }
    },
    "visualMap": {
        "show": false,
        "type": "continuous",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    },
    "dataZoom": {
        "show": true,
        "type": "slider",
        "showDetail": true,
        "showDataShadow": true,
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_58a6c69edc0d4ac887cbf1fcbcb74ffa.setOption(option_58a6c69edc0d4ac887cbf1fcbcb74ffa);
    </script>
</body>
</html>
