<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="cf3f2d15f98b43e29e6a89b6ada8d47d" class="chart-container" style="width:100vw; height:100vh; "></div>
    <script>
        var chart_cf3f2d15f98b43e29e6a89b6ada8d47d = echarts.init(
            document.getElementById('cf3f2d15f98b43e29e6a89b6ada8d47d'), 'light', {renderer: 'canvas'});
        var option_cf3f2d15f98b43e29e6a89b6ada8d47d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "series": [
        {
            "type": "bar",
            "name": "jobless_rate",
            "legendHoverLink": true,
            "data": [
                46.10,
                31.90,
                29.60,
                27.90,
                25.40,
                25.04,
                24.40,
                24.10,
                22.30,
                21.80,
                21.50,
                20.80,
                20.70,
                19.10,
                18.70,
                18.60,
                18.00,
                18.00,
                16.86,
                15.60,
                15.60,
                15.55,
                15.30,
                14.80,
                13.60,
                13.59,
                13.50,
                13.30,
                13.10,
                13.00,
                12.80,
                12.60,
                12.60,
                12.40,
                12.30,
                11.84,
                11.70,
                11.60,
                11.10,
                10.50,
                10.50,
                10.10,
                9.60,
                9.60,
                9.23,
                9.00,
                8.90,
                8.89,
                8.80,
                8.80,
                8.70,
                8.70,
                8.60,
                8.60,
                8.50,
                8.20,
                8.10,
                7.90,
                7.90,
                7.80,
                7.80,
                7.60,
                7.40,
                7.40,
                7.30,
                7.20,
                7.10,
                7.10,
                6.80,
                6.60,
                6.60,
                6.50,
                6.50,
                6.50,
                6.40,
                6.40,
                6.30,
                6.20,
                6.20,
                6.10,
                6.10,
                6.00,
                5.90,
                5.90,
                5.80,
                5.80,
                5.80,
                5.70,
                5.60,
                5.60,
                5.60,
                5.60,
                5.50,
                5.50,
                5.50,
                5.50,
                5.40,
                5.32,
                5.30,
                5.20,
                5.20,
                5.20,
                5.11,
                5.10,
                5.00,
                5.00,
                5.00,
                5.00,
                4.90,
                4.90,
                4.90,
                4.90,
                4.80,
                4.80,
                4.80,
                4.70,
                4.70,
                4.70,
                4.50,
                4.30,
                4.30,
                4.30,
                4.20,
                4.20,
                4.10,
                4.10,
                4.10,
                4.00,
                4.00,
                3.90,
                3.90,
                3.70,
                3.70,
                3.70,
                3.60,
                3.60,
                3.60,
                3.60,
                3.60,
                3.60,
                3.50,
                3.50,
                3.50,
                3.41,
                3.40,
                3.10,
                3.00,
                3.00,
                2.90,
                2.80,
                2.80,
                2.80,
                2.80,
                2.80,
                2.75,
                2.70,
                2.60,
                2.60,
                2.60,
                2.50,
                2.50,
                2.50,
                2.50,
                2.40,
                2.30,
                2.30,
                2.20,
                2.10,
                2.10,
                2.10,
                2.00,
                1.70,
                1.40,
                1.30,
                1.00,
                0.99,
                0.50,
                0.36,
                0.10,
                0.00,
                0.00
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "jobless_rate"
            ],
            "selected": {},
            "show": true,
            "right": "10%",
            "bottom": "5%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": -45,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Congo                                             ",
                "South Africa                                      ",
                "Angola                                            ",
                "Djibouti                                          ",
                "Botswana                                          ",
                "Mozambique                                        ",
                "Swaziland                                         ",
                "Palestine                                         ",
                "Jordan                                            ",
                "Republic of the Congo                             ",
                "Gabon                                             ",
                "Namibia                                           ",
                "Libya                                             ",
                "Ethiopia                                          ",
                "Sudan                                             ",
                "Senegal                                           ",
                "Rwanda                                            ",
                "Lesotho                                           ",
                "Montenegro                                        ",
                "Tunisia                                           ",
                "Georgia                                           ",
                "Iraq                                              ",
                "Sao Tome and Principe                             ",
                "Haiti                                             ",
                "Cape Verde                                        ",
                "Yemen                                             ",
                "Morocco                                           ",
                "Afghanistan                                       ",
                "Bosnia and Herzegovina                            ",
                "South Sudan                                       ",
                "Macedonia                                         ",
                "Lebanon                                           ",
                "Kosovo                                            ",
                "Guyana                                            ",
                "New Caledonia                                     ",
                "Spain                                             ",
                "Armenia                                           ",
                "Algeria                                           ",
                "Mauritania                                        ",
                "Ukraine                                           ",
                "Albania                                           ",
                "Bahamas                                           ",
                "Greece                                            ",
                "Syria                                             ",
                "Colombia                                          ",
                "Serbia                                            ",
                "Tanzania                                          ",
                "Chile                                             ",
                "Panama                                            ",
                "Comoros                                           ",
                "Honduras                                          ",
                "Equatorial Guinea                                 ",
                "Uruguay                                           ",
                "Suriname                                          ",
                "Turkey                                            ",
                "Lithuania                                         ",
                "Costa Rica                                        ",
                "Iran                                              ",
                "Zimbabwe                                          ",
                "Italy                                             ",
                "Tajikistan                                        ",
                "Brazil                                            ",
                "France                                            ",
                "Sweden                                            ",
                "Estonia                                           ",
                "Brunei                                            ",
                "India                                             ",
                "Egypt                                             ",
                "Finland                                           ",
                "Peru                                              ",
                "Eritrea                                           ",
                "Euro Area                                         ",
                "Austria                                           ",
                "Latvia                                            ",
                "Mauritius                                         ",
                "Central African Republic                          ",
                "Pakistan                                          ",
                "Argentina                                         ",
                "Croatia                                           ",
                "Portugal                                          ",
                "Zambia                                            ",
                "Uzbekistan                                        ",
                "Germany                                           ",
                "Bhutan                                            ",
                "Canada                                            ",
                "Paraguay                                          ",
                "Cyprus                                            ",
                "Guinea                                            ",
                "Belgium                                           ",
                "Dominican Republic                                ",
                "Luxembourg                                        ",
                "Malawi                                            ",
                "Puerto Rico                                       ",
                "Bulgaria                                          ",
                "Azerbaijan                                        ",
                "Bahrain                                           ",
                "Romania                                           ",
                "Indonesia                                         ",
                "Venezuela                                         ",
                "Sri Lanka                                         ",
                "Burkina Faso                                      ",
                "Mongolia                                          ",
                "Slovakia                                          ",
                "Nepal                                             ",
                "China                                             ",
                "Poland                                            ",
                "Turkmenistan                                      ",
                "El Salvador                                       ",
                "Saudi Arabia                                      ",
                "Kenya                                             ",
                "Maldives                                          ",
                "East Timor                                        ",
                "Ireland                                           ",
                "Ecuador                                           ",
                "Gambia                                            ",
                "Bangladesh                                        ",
                "Kazakhstan                                        ",
                "Slovenia                                          ",
                "Jamaica                                           ",
                "Hungary                                           ",
                "Uganda                                            ",
                "Fiji                                              ",
                "United Kingdom                                    ",
                "Philippines                                       ",
                "Nigeria                                           ",
                "Moldova                                           ",
                "Togo                                              ",
                "Cameroon                                          ",
                "Seychelles                                        ",
                "New Zealand                                       ",
                "Ghana                                             ",
                "United States                                     ",
                "Australia                                         ",
                "Trinidad and Tobago                               ",
                "Netherlands                                       ",
                "Norway                                            ",
                "Belarus                                           ",
                "Sierra Leone                                      ",
                "Liberia                                           ",
                "Guinea Bissau                                     ",
                "Czech Republic                                    ",
                "Iceland                                           ",
                "Nicaragua                                         ",
                "Taiwan                                            ",
                "Malaysia                                          ",
                "Israel                                            ",
                "Russia                                            ",
                "Guatemala                                         ",
                "Hong Kong                                         ",
                "South Korea                                       ",
                "Cuba                                              ",
                "Bolivia                                           ",
                "Papua New Guinea                                  ",
                "Mali                                              ",
                "United Arab Emirates                              ",
                "Mexico                                            ",
                "Ivory Coast                                       ",
                "Laos                                              ",
                "Kyrgyzstan                                        ",
                "Japan                                             ",
                "Denmark                                           ",
                "Kuwait                                            ",
                "Malta                                             ",
                "Macau                                             ",
                "Vietnam                                           ",
                "Oman                                              ",
                "Myanmar                                           ",
                "Switzerland                                       ",
                "Madagascar                                        ",
                "Cayman Islands                                    ",
                "Singapore                                         ",
                "Benin                                             ",
                "Chad                                              ",
                "Liechtenstein                                     ",
                "Burundi                                           ",
                "Thailand                                          ",
                "Niger                                             ",
                "Cambodia                                          ",
                "Qatar                                             ",
                "Monaco                                            ",
                "Somalia                                           "
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "margin": 8,
                "formatter": "{value}"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "jobless_rate",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            }
        }
    },
    "visualMap": {
        "show": false,
        "type": "continuous",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    },
    "dataZoom": {
        "show": true,
        "type": "slider",
        "showDetail": true,
        "showDataShadow": true,
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_cf3f2d15f98b43e29e6a89b6ada8d47d.setOption(option_cf3f2d15f98b43e29e6a89b6ada8d47d);
    </script>
</body>
</html>
