{% extends 'layout.html' %}

{% block content %}
<div class="dropdown">
        <button class="btn btn-success dropdown-toggle custom-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Global Economy
        </button>
        <div class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/run_spider/?data_option=GDP" target="_blank">GDP</a>
            <a class="dropdown-item" href="/run_spider/?data_option=GDP%20Growth" target="_blank">GDP Growth</a>
            <a class="dropdown-item" href="/run_spider/?data_option=Interest%20Rate" target="_blank">Interest Rate</a>
            <a class="dropdown-item" href="/run_spider/?data_option=Jobless%20Rate" target="_blank">Jobless Rate</a>
            <a class="dropdown-item" href="/run_spider/?data_option=GovBudget" target="_blank">Gov Budget</a>
            <a class="dropdown-item" href="/run_spider/?data_option=Current%20Account" target="_blank">Current Account</a>
            <a class="dropdown-item" href="/run_spider/?data_option=Debt%2FGDP" target="_blank">Debt/GDP</a>
            <a class="dropdown-item" href="/run_spider/?data_option=Population" target="_blank">Population</a>
        </div>
    </div>
 <div class="dropdown">
    <button class="btn btn-success dropdown-toggle custom-btn" type="button" id="stockDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Stock
    </button>
    <div class="dropdown-menu custom-dropdown" aria-labelledby="stockDropdownButton">
        <a class="dropdown-item" href="/run_stock/?data_category=current" target="_blank">Current</a>
        <a class="dropdown-item" href="/run_stock/?data_category=chg" target="_blank">Chg</a>
        <a class="dropdown-item" href="/run_stock/?data_category=percent" target="_blank">Percent</a>
        <a class="dropdown-item" href="/run_stock/?data_category=current_year_percent" target="_blank">Current Year Percent</a>
        <a class="dropdown-item" href="/run_stock/?data_category=volume" target="_blank">Volume</a>
        <a class="dropdown-item" href="/run_stock/?data_category=amount" target="_blank">Amount</a>
        <a class="dropdown-item" href="/run_stock/?data_category=turnover_rate" target="_blank">Turnover Rate</a>
        <a class="dropdown-item" href="/run_stock/?data_category=pe_ttm" target="_blank">PE TTM</a>
        <a class="dropdown-item" href="/run_stock/?data_category=dividend_yield" target="_blank">Dividend Yield</a>
        <a class="dropdown-item" href="/run_stock/?data_category=market_capital" target="_blank">Market Capital</a>
    </div>
</div>
    <div>
     <form action="/visualize_stock_data" method="POST">
        <label for="stockName">股票名称:</label>
        <input type="text" id="stockName" name="stockName">
        <input type="submit" value="提交">
    </form>
    </div>

{% endblock %}
