<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="2a12fcd30ac24b5da5568854525d33d0" class="chart-container" style="width:100vw; height:100vh; "></div>
    <script>
        var chart_2a12fcd30ac24b5da5568854525d33d0 = echarts.init(
            document.getElementById('2a12fcd30ac24b5da5568854525d33d0'), 'light', {renderer: 'canvas'});
        var option_2a12fcd30ac24b5da5568854525d33d0 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "series": [
        {
            "type": "bar",
            "name": "current",
            "legendHoverLink": true,
            "data": [
                1661.0,
                81.01,
                39.33,
                19.3,
                43.55,
                19.26,
                17.14,
                21.6,
                40.66,
                10.1,
                11.35,
                27.34,
                79.15,
                3.99,
                16.85,
                13.35,
                45.84,
                73.85,
                39.05,
                28.93,
                30.39,
                20.41,
                35.8,
                17.85,
                22.21,
                18.14,
                12.72,
                222.76,
                20.77,
                76.61,
                10.77,
                15.14,
                4.8,
                73.63,
                6.98,
                23.1,
                3.7,
                35.75,
                35.88,
                6.38,
                29.84,
                93.93,
                9.42,
                25.96,
                2.91,
                7.16,
                3.63,
                22.88,
                18.02,
                9.7,
                32.96,
                24.07,
                33.41,
                16.12,
                11.47,
                5.74,
                23.25,
                22.97,
                11.54,
                13.04,
                27.88,
                45.71,
                12.37,
                4.21,
                30.75,
                21.2,
                20.5,
                56.18,
                12.03,
                19.39,
                108.34,
                29.49,
                8.39,
                8.79,
                14.36,
                18.15,
                12.5,
                8.73,
                20.21,
                5.84,
                26.42,
                90.05,
                7.82,
                12.06,
                17.37,
                20.5,
                11.81,
                27.23,
                50.04,
                5.35,
                14.38,
                16.66,
                12.17,
                5.45,
                22.94,
                13.79,
                14.91,
                6.78,
                16.87,
                11.26,
                15.98,
                13.42,
                1.5,
                18.19,
                3.99,
                29.56,
                10.56,
                23.71,
                5.56,
                30.98,
                7.38,
                4.78,
                14.17,
                4.07,
                3.73,
                10.25,
                35.14,
                6.6,
                30.74,
                4.73,
                7.65,
                5.33,
                76.04,
                12.58,
                11.51,
                12.09,
                39.41,
                8.77,
                27.94,
                92.79,
                19.83,
                27.38,
                15.63,
                43.38,
                33.1,
                72.66,
                15.19,
                7.33,
                4.73,
                10.23,
                52.03,
                5.11,
                4.06,
                13.39,
                10.1,
                6.11,
                12.91,
                11.65,
                4.07,
                30.37,
                8.38,
                12.87,
                26.24,
                5.25,
                12.45,
                5.96,
                51.4,
                37.94,
                13.5,
                10.08,
                4.22,
                5.71,
                12.28,
                9.12,
                6.52,
                22.6,
                12.96,
                35.97,
                282.17,
                241.3,
                26.02,
                10.07,
                42.25,
                4.4,
                56.16,
                50.55,
                8.09,
                5.53,
                12.01,
                5.56,
                7.32,
                24.27,
                27.91,
                57.28,
                8.07,
                5.91,
                12.92,
                2.1,
                28.4,
                21.96,
                5.26,
                4.87,
                14.96,
                71.01,
                10.07,
                36.04,
                64.4,
                15.44,
                10.4,
                10.33
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "current"
            ],
            "selected": {},
            "show": true,
            "right": "10%",
            "bottom": "5%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": -45,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u8d35\u5dde\u8305\u53f0",
                "\u8d5b\u529b\u65af",
                "\u4e2d\u56fd\u8f6f\u4ef6",
                "\u4fe1\u96c5\u8fbe",
                "\u5251\u6865\u79d1\u6280",
                "\u4e2d\u8239\u79d1\u6280",
                "\u4e1c\u5b89\u52a8\u529b",
                "\u7f51\u8fbe\u8f6f\u4ef6",
                "\u4e2d\u79d1\u66d9\u5149",
                "\u4fdd\u5229\u53d1\u5c55",
                "\u6d59\u5546\u8bc1\u5238",
                "\u62db\u5546\u94f6\u884c",
                "\u4e2d\u56fd\u4e2d\u514d",
                "\u6587\u6295\u63a7\u80a1",
                "\u5357\u4eac\u5546\u65c5",
                "\u56fd\u65b0\u6587\u5316",
                "\u5723\u9f99\u80a1\u4efd",
                "\u836f\u660e\u5eb7\u5fb7",
                "\u4e2d\u56fd\u5e73\u5b89",
                "\u4e2d\u56fd\u8239\u8236",
                "\u9f99\u7248\u4f20\u5a92",
                "\u9686\u57fa\u7eff\u80fd",
                "\u4e2d\u5e7f\u5929\u62e9",
                "\u6c5f\u6dee\u6c7d\u8f66",
                "\u5f15\u529b\u4f20\u5a92",
                "\u91d1\u81ea\u5929\u6b63",
                "\u5357\u4eac\u718a\u732b",
                "\u5c71\u897f\u6c7e\u9152",
                "\u4e2d\u4fe1\u8bc1\u5238",
                "\u62d3\u666e\u96c6\u56e2",
                "\u56db\u5ddd\u91d1\u9876",
                "\u5de5\u4e1a\u5bcc\u8054",
                "\u5de5\u5546\u94f6\u884c",
                "\u4e07\u534e\u5316\u5b66",
                "\u4e2d\u56fd\u9ad8\u79d1",
                "\u4e0a\u6d77\u5efa\u79d1",
                "\u6c47\u9e3f\u96c6\u56e2",
                "\u4e2d\u8d1d\u901a\u4fe1",
                "\u67ef\u529b\u4f20\u611f",
                "\u5317\u6c7d\u84dd\u8c37",
                "\u9f99\u97f5\u80a1\u4efd",
                "\u5146\u6613\u521b\u65b0",
                "\u4e09\u516d\u96f6",
                "\u4f0a\u5229\u80a1\u4efd",
                "\u65b0\u6f6e\u80fd\u6e90",
                "\u4e24\u9762\u9488",
                "\u519c\u4e1a\u94f6\u884c",
                "\u91d1\u6865\u4fe1\u606f",
                "\u60e0\u53d1\u98df\u54c1",
                "\u9f99\u5934\u80a1\u4efd",
                "\u6052\u4e3a\u79d1\u6280",
                "\u6da6\u8fbe\u533b\u7597",
                "\u4eba\u6c11\u7f51",
                "\u4e1c\u822a\u7269\u6d41",
                "\u65b0\u667a\u8ba4\u77e5",
                "\u7cbe\u4f26\u7535\u5b50",
                "\u4e94\u6d32\u65b0\u6625",
                "\u957f\u6c5f\u7535\u529b",
                "\u7d2b\u91d1\u77ff\u4e1a",
                "\u6602\u7acb\u6559\u80b2",
                "\u6587\u4e00\u79d1\u6280",
                "\u6052\u745e\u533b\u836f",
                "\u5b89\u8bb0\u98df\u54c1",
                "\u5927\u9f99\u5730\u4ea7",
                "\u534e\u53cb\u94b4\u4e1a",
                "\u4fe1\u8fbe\u8bc1\u5238",
                "\u5f20\u6c5f\u9ad8\u79d1",
                "\u7518\u674e\u836f\u4e1a",
                "\u4e1c\u6e56\u9ad8\u65b0",
                "\u4e2d\u56fd\u6d77\u6cb9",
                "\u97e6\u5c14\u80a1\u4efd",
                "\u6052\u751f\u7535\u5b50",
                "\u6052\u94f6\u79d1\u6280",
                "\u65b9\u6b63\u8bc1\u5238",
                "\u5927\u8c6a\u79d1\u6280",
                "\u751f\u76ca\u79d1\u6280",
                "\u4e2d\u56fd\u94f6\u6cb3",
                "\u91d1\u9f99\u6c7d\u8f66",
                "\u6d77\u5c14\u667a\u5bb6",
                "\u4ea4\u901a\u94f6\u884c",
                "\u6052\u6da6\u80a1\u4efd",
                "\u820d\u5f97\u9152\u4e1a",
                "\u9c81\u6297\u533b\u836f",
                "\u56fd\u8054\u8bc1\u5238",
                "\u5929\u58eb\u529b",
                "\u5eb7\u7f18\u836f\u4e1a",
                "\u82cf\u8c6a\u5f18\u4e1a",
                "\u4f1f\u65f6\u7535\u5b50",
                "\u592a\u6781\u96c6\u56e2",
                "\u5317\u5df4\u4f20\u5a92",
                "\u5174\u4e1a\u94f6\u884c",
                "\u5357\u65b9\u4f20\u5a92",
                "\u5317\u65b9\u5bfc\u822a",
                "\u5357\u4eac\u533b\u836f",
                "\u901a\u5a01\u80a1\u4efd",
                "\u6daa\u9675\u7535\u529b",
                "\u5317\u7279\u79d1\u6280",
                "\u4e2d\u56fd\u77f3\u6cb9",
                "\u4e00\u9e23\u98df\u54c1",
                "\u6cc9\u9633\u6cc9",
                "\u5185\u8499\u65b0\u534e",
                "\u56fd\u8109\u6587\u5316",
                "\u5305\u94a2\u80a1\u4efd",
                "\u529b\u9f0e\u5149\u7535",
                "\u4e2d\u56fd\u94f6\u884c",
                "\u65b0\u534e\u7f51",
                "\u5168\u67f4\u52a8\u529b",
                "\u4e2d\u56fd\u592a\u4fdd",
                "\u56db\u5ddd\u957f\u8679",
                "\u4e2d\u56fd\u79d1\u4f20",
                "\u6807\u51c6\u80a1\u4efd",
                "\u4e2d\u56fd\u5efa\u7b51",
                "\u534e\u6cf0\u8bc1\u5238",
                "\u5e7f\u897f\u80fd\u6e90",
                "\u592a\u5e73\u6d0b",
                "\u535a\u4fe1\u80a1\u4efd",
                "\u6d77\u5929\u5473\u4e1a",
                "\u6c5f\u82cf\u94f6\u884c",
                "\u4e2d\u56fd\u795e\u534e",
                "\u6d1b\u9633\u94bc\u4e1a",
                "\u8bfb\u8005\u4f20\u5a92",
                "\u4e2d\u56fd\u77f3\u5316",
                "\u77f3\u82f1\u80a1\u4efd",
                "\u4e2d\u5929\u79d1\u6280",
                "\u9f99\u6eaa\u80a1\u4efd",
                "\u838e\u666e\u7231\u601d",
                "\u4e2d\u91d1\u516c\u53f8",
                "\u51fa\u7248\u4f20\u5a92",
                "\u534e\u9c81\u6052\u5347",
                "\u4e2d\u56fd\u79fb\u52a8",
                "\u6d77\u91cf\u6570\u636e",
                "\u4e0a\u6d77\u7535\u5f71",
                "\u4e2d\u89c6\u4f20\u5a92",
                "\u95fb\u6cf0\u79d1\u6280",
                "\u4e0a\u6d77\u673a\u573a",
                "\u9e23\u5fd7\u7535\u5668",
                "\u7231\u65ed\u80a1\u4efd",
                "\u5927\u79e6\u94c1\u8def",
                "\u91d1\u5730\u96c6\u56e2",
                "\u5143\u6210\u80a1\u4efd",
                "\u897f\u85cf\u836f\u4e1a",
                "\u4e2d\u56fd\u94dd\u4e1a",
                "\u4e2d\u56fd\u91cd\u5de5",
                "\u6d59\u6570\u6587\u5316",
                "\u745e\u65af\u5eb7\u8fbe",
                "\u56fd\u65c5\u8054\u5408",
                "\u4e09\u4e00\u91cd\u5de5",
                "\u4e2d\u8fdc\u6d77\u80fd",
                "\u4e2d\u592e\u5546\u573a",
                "\u9526\u6c5f\u9152\u5e97",
                "\u5357\u4eac\u8bc1\u5238",
                "\u9526\u6c5f\u822a\u8fd0",
                "\u957f\u57ce\u6c7d\u8f66",
                "\u82cf\u5dde\u9ad8\u65b0",
                "\u5927\u6052\u79d1\u6280",
                "\u5b9d\u94a2\u80a1\u4efd",
                "\u6052\u7acb\u6db2\u538b",
                "\u798f\u8000\u73bb\u7483",
                "\u98ce\u8bed\u7b51",
                "\u591a\u4f26\u79d1\u6280",
                "\u56fd\u7535\u7535\u529b",
                "\u5927\u4e1c\u65b9",
                "\u8054\u73af\u836f\u4e1a",
                "\u57ce\u5e02\u4f20\u5a92",
                "\u592a\u9f99\u836f\u4e1a",
                "\u6f5e\u5b89\u73af\u80fd",
                "\u4e30\u534e\u80a1\u4efd",
                "\u5de8\u661f\u519c\u7267",
                "\u5409\u6bd4\u7279",
                "\u7247\u4ed4\u7640",
                "\u590d\u661f\u533b\u836f",
                "\u4e2d\u8fdc\u6d77\u63a7",
                "\u4e2d\u822a\u6c88\u98de",
                "\u4e2d\u56fd\u8054\u901a",
                "\u5fb7\u4e1a\u80a1\u4efd",
                "\u7f57\u66fc\u80a1\u4efd",
                "\u7696\u65b0\u4f20\u5a92",
                "\u5eb7\u6069\u8d1d",
                "\u534e\u7acb\u80a1\u4efd",
                "\u4e2d\u56fd\u4e2d\u94c1",
                "\u4e2d\u56fd\u6838\u7535",
                "\u638c\u9605\u79d1\u6280",
                "\u4e2d\u70ac\u9ad8\u65b0",
                "\u5b89\u56fe\u751f\u7269",
                "\u4e2d\u4fe1\u91d1\u5c5e",
                "\u5a01\u5e1d\u80a1\u4efd",
                "\u5b9c\u5bbe\u7eb8\u4e1a",
                "\u5409\u89c6\u4f20\u5a92",
                "\u5929\u9f99\u80a1\u4efd",
                "\u51e4\u51f0\u5149\u5b66",
                "\u57ce\u5efa\u53d1\u5c55",
                "\u6d59\u6587\u5f71\u4e1a",
                "\u56fd\u6cf0\u541b\u5b89",
                "\u9752\u5c9b\u5564\u9152",
                "\u676d\u9f7f\u524d\u8fdb",
                "\u8fbe\u4ec1\u5802",
                "\u91cd\u5e86\u5564\u9152",
                "\u4e2d\u9a6c\u4f20\u52a8",
                "\u5c71\u4e1c\u51fa\u7248",
                "\u5409\u7fd4\u80a1\u4efd"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "margin": 8,
                "formatter": "{value}"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "current Distribution",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            }
        }
    },
    "visualMap": {
        "show": false,
        "type": "continuous",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    },
    "dataZoom": {
        "show": true,
        "type": "slider",
        "showDetail": true,
        "showDataShadow": true,
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_2a12fcd30ac24b5da5568854525d33d0.setOption(option_2a12fcd30ac24b5da5568854525d33d0);
    </script>
</body>
</html>
