<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="2e4fe81116444971a5d8f9f5baafa49d" class="chart-container" style="width:100vw; height:100vh; "></div>
    <script>
        var chart_2e4fe81116444971a5d8f9f5baafa49d = echarts.init(
            document.getElementById('2e4fe81116444971a5d8f9f5baafa49d'), 'light', {renderer: 'canvas'});
        var option_2e4fe81116444971a5d8f9f5baafa49d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "series": [
        {
            "type": "bar",
            "name": "dividend_yield",
            "legendHoverLink": true,
            "data": [
                1.557,
                1.401,
                0.0,
                0.042,
                2.693,
                3.583,
                0.0,
                0.318,
                0.494,
                0.0,
                6.425,
                0.0,
                1.08,
                0.278,
                0.733,
                0.426,
                1.972,
                1.515,
                0.147,
                6.304,
                6.289,
                3.774,
                6.379,
                0.525,
                0.15,
                6.461,
                1.784,
                5.949,
                0.084,
                0.636,
                0.0,
                0.113,
                0.167,
                0.0,
                0.625,
                1.182,
                2.366,
                0.991,
                0.073,
                0.0,
                0.135,
                0.215,
                0.389,
                1.744,
                0.0,
                3.517,
                0.079,
                0.337,
                0.49,
                0.0,
                0.831,
                0.354,
                5.372,
                0.714,
                12.431,
                3.983,
                0.0,
                0.0,
                0.686,
                0.0,
                6.555,
                0.0,
                1.645,
                5.117,
                0.0,
                0.784,
                1.265,
                2.887,
                0.464,
                1.25,
                0.791,
                0.0,
                0.845,
                6.324,
                12.235,
                0.0,
                8.279,
                0.94,
                0.464,
                0.637,
                0.255,
                3.933,
                0.599,
                12.925,
                4.491,
                2.788,
                0.0,
                4.542,
                0.672,
                6.443,
                0.0,
                0.104,
                4.747,
                0.318,
                0.496,
                8.443,
                6.375,
                2.025,
                2.755,
                0.0,
                0.0,
                2.128,
                0.0,
                0.299,
                0.262,
                0.0,
                0.958,
                1.135,
                2.37,
                0.0,
                2.824,
                1.767,
                0.707,
                2.074,
                0.447,
                2.388,
                0.68,
                0.694,
                1.594,
                0.454,
                34.361,
                0.275,
                0.0,
                1.989,
                0.0,
                4.269,
                3.185,
                1.436,
                1.095,
                6.72,
                6.467,
                0.485,
                1.538,
                0.519,
                0.93,
                1.032,
                0.748,
                2.762,
                0.577,
                0.0,
                0.726,
                0.0,
                3.643,
                1.425,
                1.599,
                11.185,
                4.051,
                1.873,
                6.136,
                5.333,
                2.051,
                5.986,
                0.289,
                1.067,
                1.336,
                0.249,
                0.592,
                0.0,
                1.405,
                1.027,
                0.605,
                2.544,
                0.0,
                0.456,
                1.562,
                3.667,
                2.345,
                1.479,
                7.47,
                6.663,
                3.758,
                11.461,
                0.0,
                1.289,
                1.636,
                2.426,
                6.52,
                0.0,
                5.285,
                0.0,
                0.839,
                0.086,
                3.409,
                0.873,
                0.919,
                1.252,
                0.676,
                0.312,
                2.316,
                1.125,
                0.367,
                0.283,
                0.0,
                0.22,
                0.789,
                0.0,
                0.0,
                3.868,
                2.353,
                0.0
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "dividend_yield"
            ],
            "selected": {},
            "show": true,
            "right": "10%",
            "bottom": "5%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": -45,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u8d35\u5dde\u8305\u53f0",
                "\u4fe1\u96c5\u8fbe",
                "\u8d5b\u529b\u65af",
                "\u4e2d\u56fd\u8f6f\u4ef6",
                "\u6d59\u5546\u8bc1\u5238",
                "\u5de5\u4e1a\u5bcc\u8054",
                "\u5f15\u529b\u4f20\u5a92",
                "\u4e1c\u5b89\u52a8\u529b",
                "\u7f51\u8fbe\u8f6f\u4ef6",
                "\u65b0\u6f6e\u80fd\u6e90",
                "\u62db\u5546\u94f6\u884c",
                "\u5251\u6865\u79d1\u6280",
                "\u4e09\u516d\u96f6",
                "\u5723\u9f99\u80a1\u4efd",
                "\u4e2d\u79d1\u66d9\u5149",
                "\u9f99\u7248\u4f20\u5a92",
                "\u9686\u57fa\u7eff\u80fd",
                "\u5c71\u897f\u6c7e\u9152",
                "\u6052\u6da6\u80a1\u4efd",
                "\u4e2d\u56fd\u5e73\u5b89",
                "\u519c\u4e1a\u94f6\u884c",
                "\u957f\u6c5f\u7535\u529b",
                "\u4e2d\u56fd\u77f3\u5316",
                "\u7518\u674e\u836f\u4e1a",
                "\u6052\u4e3a\u79d1\u6280",
                "\u5de5\u5546\u94f6\u884c",
                "\u4e2d\u56fd\u94f6\u6cb3",
                "\u4e2d\u56fd\u94f6\u884c",
                "\u91d1\u6865\u4fe1\u606f",
                "\u65b0\u534e\u7f51",
                "\u6587\u6295\u63a7\u80a1",
                "\u5357\u4eac\u718a\u732b",
                "\u6c5f\u6dee\u6c7d\u8f66",
                "\u5357\u4eac\u5546\u65c5",
                "\u6da6\u8fbe\u533b\u7597",
                "\u836f\u660e\u5eb7\u5fb7",
                "\u4e2d\u4fe1\u8bc1\u5238",
                "\u4e2d\u56fd\u4e2d\u514d",
                "\u4e2d\u56fd\u8239\u8236",
                "\u6587\u4e00\u79d1\u6280",
                "\u65b9\u6b63\u8bc1\u5238",
                "\u4fe1\u8fbe\u8bc1\u5238",
                "\u4e2d\u8d1d\u901a\u4fe1",
                "\u7d2b\u91d1\u77ff\u4e1a",
                "\u4e0a\u6d77\u7535\u5f71",
                "\u5b9d\u94a2\u80a1\u4efd",
                "\u97e6\u5c14\u80a1\u4efd",
                "\u91d1\u81ea\u5929\u6b63",
                "\u4eba\u6c11\u7f51",
                "\u9f99\u5934\u80a1\u4efd",
                "\u4e1c\u6e56\u9ad8\u65b0",
                "\u6052\u745e\u533b\u836f",
                "\u4e2d\u56fd\u5efa\u7b51",
                "\u56db\u5ddd\u957f\u8679",
                "\u901a\u5a01\u80a1\u4efd",
                "\u4f0a\u5229\u80a1\u4efd",
                "\u52a8\u529b\u6e90",
                "\u60e0\u53d1\u98df\u54c1",
                "\u5146\u6613\u521b\u65b0",
                "\u6052\u94f6\u79d1\u6280",
                "\u4ea4\u901a\u94f6\u884c",
                "\u6e58\u90ae\u79d1\u6280",
                "\u820d\u5f97\u9152\u4e1a",
                "\u4e2d\u56fd\u6d77\u6cb9",
                "\u6807\u51c6\u80a1\u4efd",
                "\u5168\u67f4\u52a8\u529b",
                "\u4e09\u4e00\u91cd\u5de5",
                "\u91d1\u5730\u96c6\u56e2",
                "\u4e2d\u5e7f\u5929\u62e9",
                "\u5305\u94a2\u80a1\u4efd",
                "\u5f20\u6c5f\u9ad8\u79d1",
                "\u5317\u6c7d\u84dd\u8c37",
                "\u82cf\u8c6a\u5f18\u4e1a",
                "\u4e2d\u56fd\u77f3\u6cb9",
                "\u5c71\u7164\u56fd\u9645",
                "\u592a\u5e73\u6d0b",
                "\u4e2d\u56fd\u795e\u534e",
                "\u4f1f\u65f6\u7535\u5b50",
                "\u95fb\u6cf0\u79d1\u6280",
                "\u62d3\u666e\u96c6\u56e2",
                "\u534e\u7acb\u80a1\u4efd",
                "\u5409\u7fd4\u80a1\u4efd",
                "\u534e\u53cb\u94b4\u4e1a",
                "\u6f5e\u5b89\u73af\u80fd",
                "\u4e2d\u56fd\u592a\u4fdd",
                "\u77f3\u82f1\u80a1\u4efd",
                "\u6602\u7acb\u6559\u80b2",
                "\u4e2d\u56fd\u79fb\u52a8",
                "\u8d5b\u817e\u80a1\u4efd",
                "\u6d59\u5546\u94f6\u884c",
                "\u56fd\u8109\u6587\u5316",
                "\u4e00\u9e23\u98df\u54c1",
                "\u4fdd\u5229\u53d1\u5c55",
                "\u5c71\u4e1c\u9ec4\u91d1",
                "\u51fa\u7248\u4f20\u5a92",
                "\u5174\u4e1a\u94f6\u884c",
                "\u6c5f\u82cf\u94f6\u884c",
                "\u5929\u58eb\u529b",
                "\u4e2d\u91d1\u9ec4\u91d1",
                "\u534e\u521b\u4e91\u4fe1",
                "\u4e24\u9762\u9488",
                "\u4e07\u534e\u5316\u5b66",
                "\u56fd\u65c5\u8054\u5408",
                "\u6c47\u9e3f\u96c6\u56e2",
                "\u98ce\u8bed\u7b51",
                "C\u9526\u6c5f",
                "\u7f57\u66fc\u80a1\u4efd",
                "\u5eb7\u7f18\u836f\u4e1a",
                "\u4e1c\u822a\u7269\u6d41",
                "\u6d59\u6587\u5f71\u4e1a",
                "\u4e2d\u56fd\u8054\u901a",
                "\u6d1b\u9633\u94bc\u4e1a",
                "\u4e2d\u56fd\u94dd\u4e1a",
                "\u798f\u84c9\u79d1\u6280",
                "\u6052\u751f\u7535\u5b50",
                "\u4e2d\u56fd\u6838\u7535",
                "\u957f\u7535\u79d1\u6280",
                "\u91cd\u5e86\u8def\u6865",
                "\u590d\u661f\u533b\u836f",
                "\u4e2d\u91d1\u516c\u53f8",
                "\u4e2d\u8fdc\u6d77\u63a7",
                "\u6797\u6d77\u80a1\u4efd",
                "\u7cbe\u4f26\u7535\u5b50",
                "\u4e5d\u4e30\u80fd\u6e90",
                "\u9f99\u97f5\u80a1\u4efd",
                "\u4e2d\u56fd\u7535\u4fe1",
                "\u534e\u6cf0\u8bc1\u5238",
                "\u9a8f\u4e9a\u79d1\u6280",
                "\u4e2d\u4fe1\u5efa\u6295",
                "\u5357\u94a2\u80a1\u4efd",
                "\u5927\u79e6\u94c1\u8def",
                "\u5b89\u8bb0\u98df\u54c1",
                "\u5317\u5df4\u4f20\u5a92",
                "\u5747\u80dc\u7535\u5b50",
                "\u4e2d\u822a\u673a\u8f7d",
                "\u5185\u8499\u65b0\u534e",
                "\u4e94\u6d32\u65b0\u6625",
                "\u6d77\u5c14\u667a\u5bb6",
                "\u745e\u65af\u5eb7\u8fbe",
                "\u65b0\u4e94\u4e30",
                "\u897f\u5357\u8bc1\u5238",
                "\u540c\u65b9\u80a1\u4efd",
                "\u4e2d\u56fd\u4e2d\u94c1",
                "\u5b89\u56fe\u751f\u7269",
                "\u4e2d\u6301\u80a1\u4efd",
                "\u9655\u897f\u7164\u4e1a",
                "\u6d59\u7248\u4f20\u5a92",
                "\u8d22\u901a\u8bc1\u5238",
                "\u5efa\u8bbe\u94f6\u884c",
                "\u4e2d\u56fd\u5de8\u77f3",
                "\u534e\u626c\u8054\u4f17",
                "\u90ae\u50a8\u94f6\u884c",
                "\u5317\u77ff\u79d1\u6280",
                "\u4e2d\u70ac\u9ad8\u65b0",
                "\u5171\u8fdb\u80a1\u4efd",
                "\u4f73\u90fd\u79d1\u6280",
                "\u5229\u901a\u7535\u5b50",
                "\u535a\u4fe1\u80a1\u4efd",
                "\u5b9d\u4fe1\u8f6f\u4ef6",
                "\u4e09\u5b5a\u80a1\u4efd",
                "\u6d59\u6570\u6587\u5316",
                "\u7231\u65ed\u80a1\u4efd",
                "\u534e\u52e4\u6280\u672f",
                "\u5929\u9f99\u80a1\u4efd",
                "\u56fd\u7535\u5357\u745e",
                "\u56fd\u7535\u7535\u529b",
                "\u7696\u65b0\u4f20\u5a92",
                "\u4eca\u4e16\u7f18",
                "\u5e73\u7164\u80a1\u4efd",
                "\u534e\u9633\u80a1\u4efd",
                "\u4e2d\u56fd\u94c1\u5efa",
                "\u5e7f\u6c47\u80fd\u6e90",
                "\u6d77\u5357\u673a\u573a",
                "\u8054\u73af\u836f\u4e1a",
                "\u6d77\u5929\u5473\u4e1a",
                "\u4e0a\u6c7d\u96c6\u56e2",
                "\u7279\u53d8\u7535\u5de5",
                "\u534e\u80fd\u56fd\u9645",
                "\u4e2d\u6587\u4f20\u5a92",
                "\u6c49\u9a6c\u79d1\u6280",
                "\u56fd\u673a\u901a\u7528",
                "\u5de8\u661f\u519c\u7267",
                "\u53e3\u5b50\u7a96",
                "\u56fd\u8054\u8bc1\u5238",
                "\u4e2d\u56fd\u79d1\u4f20",
                "\u6c5f\u82cf\u821c\u5929",
                "\u4ea8\u901a\u5149\u7535",
                "\u6676\u65b9\u79d1\u6280",
                "\u592a\u6781\u5b9e\u4e1a",
                "\u4e0a\u6d77\u5efa\u79d1",
                "\u4e09\u5b89\u5149\u7535",
                "\u5317\u7279\u79d1\u6280",
                "\u56db\u5ddd\u91d1\u9876",
                "\u4eac\u6caa\u9ad8\u94c1",
                "\u65b0\u6d01\u80fd",
                "\u65b0\u529b\u91d1\u878d",
                "\u8fd4\u5229\u79d1\u6280",
                "\u534e\u7535\u56fd\u9645",
                "\u6749\u6749\u80a1\u4efd",
                "\u4e91\u7164\u80fd\u6e90"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "margin": 8,
                "formatter": "{value}"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "dividend_yield Distribution",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            }
        }
    },
    "visualMap": {
        "show": false,
        "type": "continuous",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "hoverLink": true,
        "orient": "vertical",
        "padding": 5,
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    },
    "dataZoom": {
        "show": true,
        "type": "slider",
        "showDetail": true,
        "showDataShadow": true,
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_2e4fe81116444971a5d8f9f5baafa49d.setOption(option_2e4fe81116444971a5d8f9f5baafa49d);
    </script>
</body>
</html>
